*,*:before,*:after {
	box-sizing:border-box;
	font-weight:inherit;
}

html {
	--translucent-white: rgba(255,255,255,0.85);
	--background: #574656;
	--dark-accent: #3a1a2f;
	--dim-accent: #86657B;
	--light-accent: #ca8aaf;
	--lighter-accent: #e7cbdd;
	--sads: #d5bfcd;
	--gray-accent: #d1c9c9;
	--highlight-color: #f6f2f3;;
	--sidebar-width: 20vw;

	--black: #14100f;
	--red: #ff7187;
	--green: #18A86F;
	--orange: #B55C11;
	--yellow: #FFDC00;
	--blue: #8db0e1;

	--state-1:var(--dark-accent);
	--state-2:var(--light-accent);
	--state-3:var(--lighter-accent);
	--state-4:var(--red);
	--state-5:var(--blue);

}

body {
	font-family:"Roboto Slab";
	font-weight: 300;

	margin:0;
	padding:0;

	background-repeat:no-repeat;
	background-color: var(--background);
}

a {
	color:inherit;
}
a:hover, button:hover {
	opacity:0.75;
	cursor:pointer;
}

.input {
	text-align:right;
	width:100%;
}
.button, .input, button {
	display:block;
	font-family:inherit;
	font-size:1em;
	background:inherit;
	border: 1px solid var(--dim-accent);
	color:currentColor;
}
.button, button {
	padding: 1px 5px;
	background:var(--dim-accent);
	cursor:pointer;
	text-transform:inherit;
}
.button.attach {
	border-left-width:0;
}
:focus {
	outline:none;
}
textarea {
	width:100%;;
	min-width:100%;
	max-width:100%;
	border:1px solid var(--dim-accent);
	background-color:var(--dim-accent);
	color:currentColor;
	resize:vertical;
	padding:0.5em;
}

fieldset {
	border:1px solid var(--dim-accent);
	margin-left:0;
	font-size:0.75em;
}
legend {
	font-size:1.33em;
}
[disabled] {
	opacity:0.25;
	cursor:default !important;
}
[disabled]:hover {
	opacity:0.25;
}

.inline > * {
	display:inline-block;
	vertical-align: middle;
}
.flexy {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.buttons > * {
	display:inline;
}

[v-cloak] {
	display:none;
}
