$translucent-white = rgba(255,255,255,0.85);
$background = #574656;
$translucent-background = rgba(87, 70, 86, 0.5);
$dark-accent = #3a1a2f;
$dim-accent = #86657B;
$light-accent = #ca8aaf;
$lighter-accent = #e7cbdd;
$sads = #d5bfcd;
$gray-accent = #d1c9c9;
$highlight-color = #f6f2f3;

$sidebar-width = 20vw;